@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: white;
}

body {
    background-image: linear-gradient(115deg, rgba(30, 30, 165, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: black;
    padding: 10px;
}
header > h1 {
    font-weight: bold;
    text-align: center;
}

header > p {
    color: darkgray;
    text-align: center;
}

nav {
  
    display: flex;
    flex-flow: row  nowrap;
    justify-content: center;
}

nav > a {
    text-decoration: none;
    padding: 6px 10px;  
    margin: 5px;
    background-color: #434654;
    border-radius: 5px;
}

nav > a:hover {
    background-color:#5A5F73;
    border-radius: 4px;
    transition: .5s;
}

.container {
    margin: auto;
}

section > article {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 460px;
   
}

section h1 {
    font-size: xx-large;
    margin-top: 30px;
  
}

section p {
    font-weight: 300;
    font-size: larger;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
    margin-bottom: 30px;
}
form {
    background-color: #10112ec2;
    border-radius: 5px;
    width: 500px;
    padding: 40px;
}

form p {
    font-weight: 500;
    line-height: 40px;
}

fieldset {
    border: none;
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
}

fieldset label {
    display: block;
    line-height: 10px;
}

input[type="checkbox"], input[type= "radio"] {
  accent-color: #6a5acd;
  width: 20px;
  height: 20px;
}

input[type="text"], input[type="email"], input[type="number"]{
    display: block;
    border-radius: 8px;
    border: none;
    width: 500px;
    height: 38px;
    color: black;
    padding: 10px;
}

textarea {
    display: block;
    width: 500px;
    height: 150px;
    color: black;
    padding: 10px;
}
::placeholder {
    font-size: 1.3em;
    text-indent: 10px;
}

.botao {
    background-color: #37AF65;
    border-radius: 8px;
    border: none;
    width: 500px;
    height: 60px;
    font-size: large;
}

.botao:hover {
    cursor: pointer;
    background-color: #4ab573;
}
footer {
    background-color: black;
    text-align: center;
    font-weight: 500;
    padding: 8px;
    margin-top: 20px;
}

footer  a {
    text-decoration: none;
    font-weight: bold;
}

footer  a:hover {
    text-decoration: underline;
    color: #5A5F73;
}